* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
}

/* Header  */

header{
    background-color: #FFFFFF;
    margin: 10px 20px;
}

.logo{
    vertical-align: middle;
}

.name-logo{
    display: inline-block;
    vertical-align: middle;
}

/* Main */

button{
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 7px;
}

.buttom-1{
    color: white;
    border: 1px solid #47ADF1;
    background-color: #47ADF1;
}

.buttom-2{
    color: #D0D5D9;
    border: 1px solid #D0D5D9 ;
    background-color: white;
}

.section-buttom{
    margin-bottom: 45px;
}

/* Section content */
.new-task{
    display: block;
    padding-bottom: 40px;
}

.today{
    display: inline-block;
    display: block;
    padding-bottom: 40px;
}

.upcoming{
    display: block;
    padding-bottom: 40px;
}
.circle{
    display: inline-block;
    border: 1px solid black;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    text-align: center;
    line-height: 30px;

}

.text-new-task{
    
}
.container{
    max-width: 800px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 100px;
}

